.AppHeader .primary-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
}

.AppHeader .logo {
  font-weight: bold;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

nav ul li {
  display: inline-block;
}

.menu-right {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.menu-left {
  padding: 1rem 2rem 1rem 1rem;
  overflow: auto;
  scroll-margin-right: 1rem;
}

.AppHeader .secondary-header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.10);
}

.AppHeader li {
  padding: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.AppHeader .active {
  background: #111;
  color: white;
  border-radius: 5px;
}
