.primary-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
}

.logo {
  font-weight: bold;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

nav ul li {
  display: inline-block;
  padding: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.menu-right {
  display: flex;
  align-items: center;
}

.menu-left {
  overflow: auto;
  scroll-margin-right: 1rem;
}

.secondary-header {
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.10);
  z-index: 1;
}

nav ul li.active {
  background: #111;
  color: white;
  border-radius: 5px;
}
