.LoginControl {
  display: flex;
  align-items: center;
}

.LoginControl > .avatar {
  width: 35px;
  border-radius: 5px;
  margin-left: 1rem;
  cursor: pointer;
}

.LoginControl button {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}