.ResultPreview {
  z-index: 1;
  position: sticky;
  top: 45px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  background: #111;
  min-height: 150px;
  max-height: 40vw;
  background-position: top center;
  background-size: cover;
  overflow-y: auto;
}

.ResultPreview .title {
  padding-bottom: 0.5rem;
}

.ResultPreview .year {
  font-size: 0.75em;
}

.ResultPreview .info {
  padding: 1rem;
  color: white;
  background:rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  max-width: 500px;
  margin: 1rem;
}

.ResultPreview .overview {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  color: white;
  max-width: 30rem;
}

/* .ResultPreview .overview:after {
  content: "";
  display: block;
  height: 1rem;
  width: 100%;
} */

.ResultPreview .hide-preview {
  display: none;
  font-size: 0.8rem;
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
  cursor: pointer;
}