.ResultPoster {
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.10);
}

.ResultPoster:hover .controls, .ResultPoster:hover .info {
  visibility: visible;
}

.ResultPoster img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
}

.ResultPoster .info {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: auto;
  max-height: 75px;
  cursor: pointer;
}

.ResultPoster .info .title {
  font-size: 1rem;
  font-weight: bold;
}

.ResultPoster .info .year {
  margin-top: 0.5rem;
  font-weight: normal;
  font-size: 0.75rem;
}

.ResultPoster .controls {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.9);
  padding: 0.5rem;
  position: absolute;
  justify-content: center;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ResultPoster .controls button {
  flex-grow: 1;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  padding: 0.25rem 0.5rem;
  background: none;
  margin: 0.25rem;
  cursor: pointer;
}

.ResultPoster .controls button.active {
  background: white;
  color: black;
}