*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #eee;
  max-width: 1080px; 
  margin: auto; 
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
  min-height: 80vh;
}

main li {
  list-style: none;  
}

main .results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  grid-gap: 1rem;
}

main .sort {
  margin-bottom: 1rem;
  font-size: .8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sort-option {
  padding: 0.5rem;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
  margin-left: 0.5rem;
  cursor: pointer;
}

.sort-option.active {
  background: black;
  color: white;
}

.search {
  padding: 1rem;
  max-width: 100%;
}

.search input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.10);
  border-radius: 5px;
}

.no-results {
  text-align: center;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

footer {
  padding: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: right;
}